$gray-footer: #fcfcfc !default;

.footer-wrapper {
  font-family:'Open Sans', 'Helvetica Neue', 'Roboto','Arial', sans-serif;
  background-color: #878787;
  color: white;
  .with-icon, .with-icon a {
    color: white;
    display: flex;
    align-items: flex-start;
    padding: 4px 0;
    .pgn__icon {
      margin-right: 5px;
      margin-top: 2px;
    }
    svg {
      fill: white;
    }
  }
  .title {
    font-weight: 600;
    padding: 4px 0;
  }

  .footer {
    max-width: 1450px;
  }

}

.info-rows {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  >div {
    margin-right: 20px;
    margin-top: 20px;
  }
}

.download {
  .images {
    display: flex;
    align-items: center;
    img {
      max-width: 100%;
      margin: 0 5px 5px 0;
    }
  }
}

.footer-logo {
  height: 63px;
  max-width: 100%;
}

.footer-logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  .footer-language-selector-wrapper {
    margin-left: auto;
    margin-right: 20px;
  }
}

.change-language-submit-btn {
  color: white;
  border-color: white;
  &:hover {
    background-color: transparent;
    border-color: white;
    color: white;
  }
}