$gray-footer: #fcfcfc !default;

@font-face {
	font-family: "AvoRegular";
	src: local("AvoRegular"), url("./fonts/SVN-Avo_Regular.ttf");
}

@font-face {
	font-family: "AvoBold";
	src: local("AvoBold"), url("./fonts/SVN-Avo_Bold.ttf");
}

.footer-wrapper {
  // font-family:'Open Sans', 'Helvetica Neue', 'Roboto','Arial', sans-serif;
  background-color: #001F63;
  color: white;
  font-family: AvoRegular, Roboto, Arial, sans-serif;

  .info-rows {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    
    >div {
      margin-right: 4px;
      margin-top: 20px;
    }
  
    .with-icon, .with-icon a {
      color: white;
      display: flex;
      align-items: flex-start;
      padding: 4px 0;
      font-family: AvoBold;
      font-size: 1rem;
      text-decoration: none;
  
      .pgn__icon {
        margin-right: 5px;
        margin-top: 2px;
      }
  
      svg {
        fill: white;
      }
    }

    .title {
      font-weight: 600;
      padding: 4px 0;
      font-size: 1rem;
    }

    .info {

    }

    .download {
      .images {
        display: flex;
        align-items: center;
  
        img {
          max-width: 100%;
          margin: 0 10px 5px 0;
        }
      }
    }
  
    .connect {
      .title {
        
      }
  
      .social-name {
        font-family: AvoRegular, Roboto, Arial, sans-serif;
        font-weight: unset !important;
      }
    }

  }

  .footer {
    max-width: 1450px;
  }

  .copyright {
    font-size: small;
  }
}

.footer-logo {
  height: 63px;
  max-width: 100%;
}

.footer-logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  .footer-language-selector-wrapper {
    margin-left: auto;
    margin-right: 20px;
  }
}

.change-language-submit-btn {
  &:hover {
    background-color: transparent;
    border-color: white;
    color: white;
  }
}